<h1>Global Stats</h1>

<h2>Total BTC</h2>
<div class="chart">
  <%= pie_chart '/stats/btc_stats' %>
</div>

<h2>Total Loans</h2>
<div class="chart">
  <%= pie_chart '/stats/loan_stats' %>
</div>

<h2>Users</h2>
<div class="chart">
  <%= pie_chart '/stats/user_stats' %>
</div>

<h2>Borrowers</h2>
<div class="chart">
  <%= pie_chart '/stats/borrower_stats' %>
</div>