<h1>//TODO</h1>

<h2>List of things I need to do</h2>

<p>I have a poor memory and no bug-tracker for this project.</p>

<ul>
  <li class="strikethrough">
    Understand why bitstamp-tied loans are contributing incorrectly to overall debt
    <ul>
      <li>This is slightly complicated, as BTCJam do not list the date the loan was activated, or the amount actually
      remaining on the loan. Or the bitstamp value at the time of the loan. Short of investing a satoshi in every future
      loan, the best thing to do would be to approximate the loan activation date from the last investment, work out from
      this the historical bitstamp price (average price on that day??) and the number of payments remaining (vague, but
      closer than what we have now) and do some basic math.</li>
    </ul>
  </li>
  <li>
    There's no way to do the above. We just show a warning. I don't think there's a way to improve this but I'll leave this here.
  </li>
  <li class="strikethrough">
    <strong>Fix cron jobs not updating stats when they should.</strong>
  </li>
  <li class="strikethrough">
    Add metric on ratio active loan amount to active investment amount, to find good borrowers in the list.
  </li>
  <li class="strikethrough">
    Add loan listing, with filtering and sortable columns
  </li>
  <li>
    As above but for investments
  </li>
  <li>
    Add a page for each user, with pretty graphs and more detailed information
  </li>
  <li>
    Add ability for users to claim their page by authenticating against BTCJam's OAuth API
  </li>
  <li>
    Add the ability for users to add further <strong>public</strong> verification on their own page
  </li>
  <li>
    ...
  </li>
  <li>
    Profit!
  </li>
</ul>