
body {
    background-color: #ffffff;
    font-family: Sans-Serif;
}

.footer {
    z-index:100;
    position: fixed;
    bottom:0px;
    left:0;
    width: 100%;
    padding-left: 25px;
    font-size: 70%;
    background: #f1efea;
    border-top: 1px solid #e4e1d7;
    color: #46402f;
    white-space: nowrap;
}

.home-menu > ul {
    float: right;
}

#logo-text {
    font-size: 20px;
}

#content {
  padding: 40px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: 1px solid #e4e1d7;
    color: #5F5496;
    vertical-align: top;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;;
}

.centered {
    text-align: center;
}

.pure_paginator {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    *display: inline;
}

#pagina, .pagina {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a.active {
    color: #5F5496;
}

#column_selector {
    font-size: 75%;
}


#column_selector td,
#column_selector th {
  border-left: 1px solid #e4e1d7;/* inner column border */
  border-top: 1px solid #e4e1d7;/* inner column border */
}

.expand a {
    text-decoration: none;
}

.expand a:link, .expand a:visited {
  background: image-url('arrow-down.gif') no-repeat 98% 50%;
}

.expand a.open:link, .expand a.open:visited {
  background: image-url('arrow-up.gif') no-repeat 98% 50%;
}

.expand a:hover, .expand a:active, .expand a:focus {
    text-decoration: underline;
}

div.avatar img {
  float: right;
}

span.baseline {
  vertical-align: bottom;
}

div.avatar {
  overflow: hidden;
  padding-bottom: 10px;
}